<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container [ngSwitch]="responseIs">
    <app-map *ngSwitchCase="'map'"></app-map>
    <app-error-screen *ngSwitchCase="'error'"></app-error-screen>
    <app-loading-screen *ngSwitchDefault></app-loading-screen>
  </ng-container>
</ion-content>
