capacitor-google-map {
  display: inline-block;
  height: 100%;
  width: 100%;
}

ion-popover {
  --width: 90%;
  ion-content, ion-footer {
    border-right: solid .4em var(--ion-color-primary);
  }
}
