<div class="centered-screen bg-gray">
  <ion-card class="border-danger">
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="ion-align-items-center">
          <div class="centered-screen">
            <ion-icon name="warning-outline" size="large"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-title >Error <span *ngIf="error?.code">Code #{{error.code}}</span> </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p *ngIf="error?.message">{{error.message}}</p>
          </ion-card-content>

          <footer class="flex ion-justify-content-end">
            <ion-button fill="clear">Action</ion-button>
          </footer>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>
